n8n-import-data.json
{
  "workflow": {
    "name": "Social Media Multi-Platform Campaign",
    "nodes": [
      {
        "parameters": {
          "path": "social-media-campaign",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          250,
          300
        ],
        "webhookId": "social-media-campaign"
      },
      {
        "parameters": {
          "resource": "text",
          "operation": "message",
          "text": "={{ $json.content }}",
          "options": {
            "systemMessage": "You are a social media expert. Optimize the given content for {{ $json.platform }}. Keep it engaging, add relevant emojis, and ensure it fits platform best practices. For LinkedIn: professional tone, 1-3 paragraphs. For Facebook: conversational, engaging. For Twitter: concise, under 280 characters.",
            "maxTokens": 500,
            "temperature": 0.7
          }
        },
        "id": "ai-optimize",
        "name": "AI Content Optimizer",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1,
        "position": [
          450,
          300
        ],
        "credentials": {
          "openAiApi": {
            "id": "1",
            "name": "OpenAI API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.platforms }}",
                "operation": "contains",
                "value2": "linkedin"
              }
            ]
          }
        },
        "id": "check-linkedin",
        "name": "Check LinkedIn",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          650,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.platforms }}",
                "operation": "contains",
                "value2": "facebook"
              }
            ]
          }
        },
        "id": "check-facebook",
        "name": "Check Facebook",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          650,
          400
        ]
      },
      {
        "parameters": {
          "resource": "post",
          "operation": "create",
          "text": "={{ $json.optimized_content }}",
          "additionalFields": {
            "visibility": "PUBLIC"
          }
        },
        "id": "post-linkedin",
        "name": "Post to LinkedIn",
        "type": "n8n-nodes-base.linkedIn",
        "typeVersion": 1,
        "position": [
          850,
          150
        ],
        "credentials": {
          "linkedInOAuth2Api": {
            "id": "2",
            "name": "LinkedIn OAuth"
          }
        }
      },
      {
        "parameters": {
          "resource": "post",
          "operation": "create",
          "message": "={{ $json.optimized_content }}",
          "additionalFields": {}
        },
        "id": "post-facebook",
        "name": "Post to Facebook",
        "type": "n8n-nodes-base.facebook",
        "typeVersion": 1,
        "position": [
          850,
          350
        ],
        "credentials": {
          "facebookGraphApi": {
            "id": "3",
            "name": "Facebook OAuth"
          }
        }
      },
      {
        "parameters": {
          "operation": "insert",
          "table": "campaign_posts",
          "columns": {
            "column": [
              {
                "column": "campaign_id",
                "value": "={{ $json.campaign_id }}"
              },
              {
                "column": "platform",
                "value": "={{ $json.platform }}"
              },
              {
                "column": "content",
                "value": "={{ $json.optimized_content }}"
              },
              {
                "column": "post_id",
                "value": "={{ $json.post_id }}"
              },
              {
                "column": "post_url",
                "value": "={{ $json.post_url }}"
              },
              {
                "column": "status",
                "value": "posted"
              }
            ]
          }
        },
        "id": "save-to-db",
        "name": "Save to Supabase",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 1,
        "position": [
          1050,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "4",
            "name": "Supabase PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"success\": true, \"posts\": $json } }}"
        },
        "id": "respond",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1250,
          300
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "AI Content Optimizer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Content Optimizer": {
        "main": [
          [
            {
              "node": "Check LinkedIn",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Facebook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check LinkedIn": {
        "main": [
          [
            {
              "node": "Post to LinkedIn",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Facebook": {
        "main": [
          [
            {
              "node": "Post to Facebook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Post to LinkedIn": {
        "main": [
          [
            {
              "node": "Save to Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Post to Facebook": {
        "main": [
          [
            {
              "node": "Save to Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save to Supabase": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  },
  "credentials": {
    "openai": {
      "type": "openAiApi",
      "name": "OpenAI",
      "data": {
        "apiKey": "{{YOUR_OPENAI_API_KEY}}"
      }
    },
    "supabase": {
      "type": "postgres",
      "name": "Supabase PostgreSQL",
      "data": {
        "host": "aws-1-us-east-2.pooler.supabase.com",
        "port": 6543,
        "database": "postgres",
        "user": "postgres.diexsbzqwsbpilsymnfb",
        "password": "Acookingoil123",
        "ssl": "prefer"
      }
    }
  }
}