n8n/workflows/ai-workspace-daily-news-digest.json
{
  "name": "AI Workspace - Daily News Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "=http://localhost:3001/api/assistants/news",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Tạo bản tin tóm tắt hôm nay về: AI, công nghệ, startup Việt Nam"
            },
            {
              "name": "userId",
              "value": "={{ $env.USER_ID }}"
            },
            {
              "name": "stream",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "call-news-assistant",
      "name": "Call News Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "news_digests",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.response }}",
            "created_at": "={{ $now }}",
            "user_id": "={{ $env.USER_ID }}"
          }
        }
      },
      "id": "save-to-supabase",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "documents",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.response }}",
            "source_type": "news",
            "metadata": "={\"workflow\": \"daily-news-digest\", \"date\": \"{{ $now }}\"}",
            "user_id": "={{ $env.USER_ID }}"
          }
        }
      },
      "id": "index-for-rag",
      "name": "Index for RAG",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call News Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call News Assistant": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Index for RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-28T00:00:00.000Z",
      "updatedAt": "2025-01-28T00:00:00.000Z",
      "id": "ai-workspace",
      "name": "AI Workspace"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-28T00:00:00.000Z",
  "versionId": "1"
}

