n8n/workflows/simple-test-webhook.json
{
  "name": "Simple Test Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "simple-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200],
      "id": "webhook-simple",
      "name": "Webhook",
      "webhookId": "simple-test"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out-success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "out-message",
              "name": "message",
              "value": "Hello from n8n!",
              "type": "string"
            },
            {
              "id": "out-received",
              "name": "received_data",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "out-timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 200],
      "id": "set-response",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 200],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
