n8n/workflows/sora-text-to-video-original.json
{
  "updatedAt": "2025-11-25T03:50:44.34Z",
  "createdAt": "2025-11-25T03:50:44.34Z",
  "id": "z4A8gUDGPnZhcNna",
  "name": "SORA ## Text to Video",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "363abbd9-5ed8-4b6a-b1a0-739893a02fff",
              "name": "video_prompt",
              "value": "A professor stands at the front of a lively classroom, enthusiastically giving a lecture. On the blackboard behind him are colorful chalk diagrams. With an animated gesture, he declares to the students: 'Sora 2 is now available on Kie AI, making it easier than ever to create stunning videos.' The students listen attentively, some smiling and taking notes.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        96
      ],
      "id": "5f8a0916-2e4c-4fe8-a8de-59906aab7a6a",
      "name": "Video Prompt3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2-text-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $json.output.replace(/\"/g, '').replace(/\\r?\\n|\\r/g, ' ') }}\",\n    \"aspect_ratio\": \"landscape\",\n    \"n_frames\": \"10\",\n    \"remove_watermark\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        96
      ],
      "id": "9dee5505-d5ac-4fe4-b450-334adc8e0788",
      "name": "Text to Video2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9Cun69xZ2FUFSkca",
          "name": "Kie AI"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        96
      ],
      "id": "2ecab8fa-22f8-453b-88ce-b9c274702664",
      "name": "Wait4",
      "webhookId": "9fd30610-c0b9-4f5c-9af5-89b821c11ec3"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        96
      ],
      "id": "5bcee834-53c4-4563-8ec9-14a525140567",
      "name": "Get Video4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9Cun69xZ2FUFSkca",
          "name": "Kie AI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f9a9a29-cc45-4e39-a1a0-e78caadbab09",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        96
      ],
      "id": "f0b9b65c-0cd3-4ca2-aa2c-86e12b149d53",
      "name": "If4"
    },
    {
      "parameters": {
        "content": "## Text to Video (w/ prompting)",
        "height": 336,
        "width": 1376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -16
      ],
      "id": "5fb3559d-9d94-4dbf-90a1-b0f3530666d6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "714ed3d2-1e81-4aae-a977-8151769371a7",
              "name": "video_url",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        96
      ],
      "id": "d3b5dcac-55f6-4cd6-a089-95efd4b77bc0",
      "name": "Video URL4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Input: {{ $json.video_prompt }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert AI video prompt engineer trained to design optimized prompts for Sora 2 video generation. Your role is to take a raw input concept (such as a short idea, scene description, or video type) and transform it into a highly detailed, visually rich, and cinematic video prompt.\n\nYour output must describe a **realistic, natural-looking video** that matches the input intent. Focus on optimizing for visual quality, camera realism, lighting accuracy, subject movement, and environmental coherence.\n\nFollow these rules when creating each prompt:\n\n1. Always describe:\n   - The main subject(s): appearance, clothing, age, gender, expression, and motion.\n   - The setting: location, background, lighting, time of day, and atmosphere.\n   - The camera style: angle, lens type, framing, and movement (e.g., handheld, dolly, aerial).\n   - The tone or emotion of the scene (e.g., cinematic, documentary, upbeat, dramatic).\n   - Realistic environmental and lighting effects (e.g., soft sunlight, reflections, motion blur).\n\n2. The prompt should sound like a professional cinematographer describing a shot to a visual effects team.\n3. Avoid generic or repetitive phrasing—each sentence should add visual or contextual detail.\n4. Keep the tone natural and descriptive, not technical or robotic.\n5. Ensure that the prompt reads fluently and feels like a single cohesive vision.\n\nWhen ready, output only the final video prompt with no commentary or additional explanation.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        96
      ],
      "id": "2a0a76ab-2c2e-4013-a9f1-2ae3d3bb7549",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -144,
        240
      ],
      "id": "3502904a-0077-44cc-9f5b-49853cbce63f",
      "name": "GPT-5-mini",
      "credentials": {
        "openRouterApi": {
          "id": "eVTxjExyNHOdwH45",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Video Prompt3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text to Video2": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Get Video4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video4": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Video URL4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Text to Video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "73057368-144f-4e19-aadb-6dbce78b0caa",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-25T03:50:44.342Z",
      "createdAt": "2025-11-25T03:50:44.342Z",
      "role": "workflow:owner",
      "workflowId": "z4A8gUDGPnZhcNna",
      "projectId": "uMW8CRxNeHPnB5zp",
      "project": {
        "updatedAt": "2025-11-01T07:38:53.167Z",
        "createdAt": "2025-11-01T06:02:46.452Z",
        "id": "uMW8CRxNeHPnB5zp",
        "name": "Võ Sang <longsangsabo2025@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-01T06:02:46.452Z",
            "createdAt": "2025-11-01T06:02:46.452Z",
            "userId": "7bfc9510-6f27-4bc1-a8aa-1974e992b59f",
            "projectId": "uMW8CRxNeHPnB5zp",
            "user": {
              "updatedAt": "2025-11-25T03:45:27.158Z",
              "createdAt": "2025-11-01T06:02:45.808Z",
              "id": "7bfc9510-6f27-4bc1-a8aa-1974e992b59f",
              "email": "longsangsabo2025@gmail.com",
              "firstName": "Võ",
              "lastName": "Sang",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-01T08:05:28.823Z",
                "personalization_survey_n8n_version": "1.117.3",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "fCQTHQjr7Bn4DJjZ",
                "userActivatedAt": 1764042327060
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
